<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dionisio - Desenvolvedor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/Apresentacao.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Gerenciador de Tarefas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/usuario/login">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <header class="text-center my-4">
                <h1>Olá, eu sou Dionisio Manuel</h1>
                <p>Desenvolvedor Júnior | Digital Business Builder</p>
                <div class="social-links">
                    <a href="https://github.com/Dionisiodeveloper" target="_blank">
                        <i class="fab fa-github github-icon"></i> GitHub
                    </a> |
                    <a href="https://www.linkedin.com/in/dion%C3%ADsio-manuel-iaronha-603a06252/" target="_blank">
                        <i class="fab fa-linkedin linkedin-icon"></i> LinkedIn
                    </a> 
                   
                </div>
            </header>

            <section id="apresentacao" class="my-5">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="img/i.jpg" alt="Foto" class="img-fluid rounded-circle mb-3">
                    </div>
                    <div class="col-md-8">
                        <h2>Sobre Mim</h2>
                        <p>Olá, meu nome é Dionisio Manuel. Sou estrategista de lançamentos digitais, Empreendedor Digital e finalista em Engenharia em Tecnologia e Sistemas de Informacao..</p>
                        <p>Atualmente, estou cursando o quarto ano e buscando oportunidades na área de TI.
                        </p>  <p>Tenho um interesse profundo por tecnologia, Blockchain e Negocios Digitais.</p>
                      
                    </div>
                </div>
            </section>

            <section id="projeto" class="my-5">
                <h2>Sobre o Projeto</h2>
                <p>Este projeto é um Sistema de Gerenciamento de Tarefas desenvolvido com tecnologias avançadas como Spring Boot, Java, H2, HTML, CSS, Thymeleaf, e JavaScript. Ele foi criado para proporcionar uma maneira eficiente e organizada de gerenciar tarefas, oferecendo funcionalidades completas que atendem às necessidades dos usuários de forma prática e intuitiva.</p>

                <ul>
                    <li>Criação de usuários com validação de formulários.</li>
                    <li>Adição, edição e remoção de tarefas.</li>
                    <li>Listagem de tarefas com opções de filtragem.</li>
                    <li>Integração com banco de dados H2.</li>
                    <li>Interface de usuário responsiva e amigável.</li>
                </ul>
            </section>

            <div class="text-center">
                <a href="/usuario/login" class="btn btn-primary">Cadastrar tarefas</a>
            </div>

            <footer class="text-center my-4">
                <p>&copy; 2025 Dionisio Manuel. Todos os direitos reservados.</p>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
